<library path="src">
  <class name="RosTfTree" type="rqt_tf_tree.tf_tree.RosTfTree" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize the ROS TF Tree.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>TF Tree</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing the TF tree.</statustip>
    </qtgui>
  </class>
</library>
